<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{{ site.description }}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <link rel="stylesheet" href="{{ "/css/beautystrap.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="./bootstrap.css" media="screen">
  <link rel="stylesheet" href="../assets/css/bootswatch.min.css">
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
    <script src="../bower_components/respond/dest/respond.min.js"></script>
  <![endif]-->
  <script>
    console.log('TODO: Google Analytics');

   // var _gaq = _gaq || [];
   //  _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
   //  _gaq.push(['_setDomainName', "github.com/danilojrr/beautystrap"]);
   //    _gaq.push(['_setAllowLinker', true]);
   //  _gaq.push(['_trackPageview']);

   // (function() {
   //   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
   //   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   //   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
   // })();

  </script>
</head>